
<div class="fluid container">

<h1>{{title}}</h1>
<h4>{{fotodiaria.title}} **
      <span *ngIf="fotodiaria.copyright" >
            {{fotodiaria.copyright}}</span>  **  {{fotodiaria.date}}</h4>

  <div class="row">
       <div class="col-xs-12 col-md-6" *ngIf="fotodiaria.media_type ==='image'">
            <img class="image-responsive" [src]="fotodiaria.url" alt="FOTO DIARIA DE LA NASA">
      </div>
      <div class="col-xs-12 col-md-6" *ngIf="fotodiaria.media_type ==='video'">
    
        <div class="video-responsive">
            <iframe  [src]="fotodiaria.url" frameborder="0" allowfullscreen="allowfullscreen"></iframe>
            </div>
      </div>
      <div class="col-xs-12 col-md-6 ">
          
            <p class="texto">{{fotodiaria.explanation}}</p>
      </div>

  </div>
</div>