/* You can add global styles to this file, and also import other style files */
body{
   
    background: url("assets/13964987.png");
    background-repeat:no-repeat;
    background-color: #3F3F3F;
    color:#F3E9E9;
}